<!DOCTYPE html>
<html ng-app="NGCalendarApp">
	<head>
		<meta charset="utf-8">
		<!-- Third-Party Scripts: Angular, Angular Material, Moment JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.22/angular-material.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data-2012-2022.min.js"></script>
		<!-- Application Scripts (from js/ directory) -->
		<script src="js/helpers.js"></script>
		<script src="js/services.js"></script>
		<script src="js/app.js"></script>
		<!-- Stylesheets -->
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.22/angular-material.min.css">
		<link rel="stylesheet" href="styles/styles.css">
		<title>Angular Calendar</title>
	</head>
	<body ng-controller="CalendarController as cal">
		<div class="body-wrapper">
			<h1 layout="column" layout-align="center center" class="md-display">A Simple Calendar Reservation System</h1>
			<!-- Month & Year Pane -->
			<md-whiteframe class="md-whiteframe-z1" layout="column" layout-margin layout-align="center center">
				<b layout="row" layout-margin layout-align="center center">
					<md-button class="md-primary md-raised chevron" ng-click="cal.navMonth(-1)"> 🡄 </md-button>
					<div class="month">{{cal.curDate.format("MMM")}}</div>
					<md-button class="md-primary md-raised chevron" ng-click="cal.navMonth(1)"> 🡆 </md-button>
				</b>
				<b> {{cal.curDate.format("YYYY")}} </b>
			</md-whiteframe>
			<!-- Main Body - Layed out via Angular Material"s Flexbox System -->
			<div layout layout-sm="column" layout-xs="column">
				<!-- Main Calendar Pane -->
				<div layout layout-margin layout-align="center center" flex="66" flex-sm="66" flex-xs="66" class="debug-box"> 
					<div layout="column" ng-repeat="week in cal.viewDays">
						<md-button class="day md-raised md-{{day['isDay']}} md-{{day['selected']}}"  ng-disabled="{{day['disabled']}}" layout="column"  ng-repeat="day in week" ng-click="cal.dayClicked(day)">{{day["value"]}}</md-button>
					</div>
				</div>
				<!-- Monthly Remove Reservation Pane -->
				<div layout="column" layout-sm="column" layout-margin layout-padding layout-align="right center" flex="33" flex-sm="66" flex-xs="66" class="debug-box">
					<h2>Remove Reservations</h2>
					<div layout="row" layout-wrap layout-sm="column" layout-xs="column" layout-align="space-around" ng-if="!cal.resLoaded">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>
					<div>
						<md-content ng-if="cal.reservations.length > 0">
							<md-list class="make-scrollable">
								<md-list-item layout layout-wrap class="md-3-line" ng-repeat="res in cal.reservations" ng-click="cal.showRemoveConfirm($event, $index)">
									<div layout="column" class="md-list-item-text" >
										<h3>{{ res["tennantName"] }}</h3>
										<p>Date of Stay: {{ res["friendlyTime"] }}</p>
									</div>
								</md-list-item>
							</md-list>
						</md-content>
						<md-content ng-if="cal.reservations.length == 0 && cal.resLoaded">
							<md-list>
								<md-list-item layout layout-wrap class="md-3-line">
									<div layout-align="top top" class="md-list-item-text" >
										No Reservations Found - Add Now!
									</div>
								</md-list-item>
							</md-list>
						</md-content>
						<div>
						</div>
					</div>
				</div>
				<!-- Add Reservations Pane -->
				<div layout="column" layout-sm="column" layout-xs="column" layout-margin layout-padding layout-align="right center" flex="33" flex-sm="66"  flex-xs="66" class="debug-box">
					<h2>Add Reservations</h2>
					<section layout="column" layout-sm="column" layout-align="center center"> <b> Tenant Name </b>
						<input layout-margin ng-model="cal.tenantName"> 
						<b layout> Selected Date </b> {{cal.curDate.format("MMMM DD, YYYY")}}
					</section>
					<section layout="column" layout-sm="row" layout-align="center center">
						<md-button class="md-raised md-primary" ng-click="cal.showAddConfirm($event)">Add Tenant</md-button>
					</section>
				</div>
			</div>
		</div>
	</body>
</html>