button,
select,
html,
textarea,
input {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.day {
	width: 60px;
	height: 60px;
	text-align: center;
}

.error {
  color: red;
}

.calendar {
	outline: 2px solid green;
}

.md-whiteframe-z1 {
	background-color: gray;
}