button,
select,
html,
textarea,
input {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.day {
	width: 60px;
	height: 60px;
	text-align: center;
	min-width: unset!important;

}

.error {
  color: red;
}

.calendar {
	/*outline: 2px solid green;*/
}

.md-whiteframe-z1 {
	background-color: white;
}

.chevron {
	width: 25px!important;
	min-width: unset!important;

}

.month {
	width: 30px;
}